.container {
  display: flex;
  align-items: center;
  justify-items: space-around;
  flex-direction: row;
  color: white;
  color: rgba(68, 64, 64, 0.726);
  padding: 64px;
  padding-top: 0;
  overflow: hidden;
  h1 {
    font-size: 38px;
    font-weight: bold;
    color: #3f51b5;
  }

  .first {
    font-size: 16px;
    color: rgba(68, 64, 64, 0.726);
    text-align: left;
    font-weight: 500;
  }
  .second {
    font-size: 22px;
    font-weight: 600;
    color: rgba(68, 64, 64, 0.726);
    line-height: 32px;
  }
  .info {
    padding: 16px 64px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}

.about-us-image {
  margin-top: 20px;
  width: 50%;
  height: 80vh;
  border-radius: 50%;
}
