<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          სპორტსმენის რეგისტრაცია
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            მწვრთნელის რეგისტრაცია
          </mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          მსაჯის რეგისტრაცია
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <mat-form-field appearance="fill" class="small-field">
            <mat-label>სახელი</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="small-field">
            <mat-label>გვარი</mat-label>
            <input matInput>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="medium-field">
            <mat-label>აღწერა</mat-label>
            <input matInput>
        </mat-form-field>
      </p>
      <button mat-raised-button color="primary">რეგისტრაცია</button>
      
    </mat-expansion-panel>
</mat-accordion>