<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngIf="role === 'coach'">
    <mat-expansion-panel-header>
      <mat-panel-title> სპორტსმენის რეგისტრაცია </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'athlete'"></register-form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> მწვრთნელის რეგისტრაცია </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'coach'"></register-form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> მსაჯის რეგისტრაცია </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'referee'"></register-form>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="role === 'admin'">
    <mat-expansion-panel-header>
      <mat-panel-title> ტურნირის დამატება </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'tournament'"></register-form>
  </mat-expansion-panel>
</mat-accordion>
