<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngIf="role === 'coach'">
    <mat-expansion-panel-header>
      <mat-panel-title> სპორტსმენის რეგისტრაცია </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form
      [type]="'athlete'"
      (clickOnReg)="clickOnReg()"
    ></register-form>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="role === 'admin'">
    <mat-expansion-panel-header>
      <mat-panel-title> მწვრთნელის რეგისტრაცია </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'coach'"></register-form>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="role === 'admin'">
    <mat-expansion-panel-header>
      <mat-panel-title> მსაჯის რეგისტრაცია </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'referee'"></register-form>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="role === 'admin'">
    <mat-expansion-panel-header>
      <mat-panel-title> ტურნირის დამატება </mat-panel-title>
    </mat-expansion-panel-header>

    <register-form [type]="'tournament'"></register-form>
  </mat-expansion-panel>
  <h3
    *ngIf="role === 'coach'"
    style="margin-top: 48px; font-weight: bold; color: #383838"
  >
    სულ {{ athletes?.filteredData.length }} სპორტსმენი:
  </h3>
  <mat-form-field *ngIf="role === 'coach'" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="ძებნა" #input />
  </mat-form-field>
  <table
    *ngIf="role === 'coach'"
    mat-table
    [dataSource]="athletes"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>სახელი</th>
      <td mat-cell *matCellDef="let athlete">{{ athlete.name }}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>გვარი</th>
      <td mat-cell *matCellDef="let athlete">{{ athlete.surname }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>წონა (კგ)</th>
      <td mat-cell *matCellDef="let athlete">{{ athlete.weight }} კგ</td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef>სიმაღლე (სმ)</th>
      <td mat-cell *matCellDef="let athlete">{{ athlete.height }} სმ</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>ასაკი</th>
      <td mat-cell *matCellDef="let athlete">{{ athlete.age }}</td>
    </ng-container>

    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <div (click)="onEditAthlete(element)" style="cursor: pointer">
          <mat-icon style="color: green">edit</mat-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="del" stickyEnd>
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <div (click)="onDeleteAthlete(element)" style="cursor: pointer">
          <mat-icon style="color: red">delete</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="[
        'name',
        'surname',
        'weight',
        'height',
        'age',
        'edit',
        'del'
      ]"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: ['name', 'surname', 'weight', 'height', 'age', 'edit', 'del']
      "
    ></tr>
  </table>
  <mat-paginator
    *ngIf="role === 'coach'"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</mat-accordion>
