<form [formGroup]="registerForm">
  <p>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>სახელი</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="registerForm.get('name').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-field">
      <mat-label>გვარი</mat-label>
      <input matInput formControlName="surname" />
      <mat-error *ngIf="registerForm.get('surname').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
  </p>
  <p *ngIf="this.type === 'referee'">
    <mat-form-field appearance="fill" class="medium-field">
      <mat-label>აღწერა</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </p>

  <p *ngIf="this.type === 'athlete'">
    <!-- <mat-form-field appearance="fill" class="small-field">
      <mat-label>დაბადების თარიღი</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date_of_birth"
      />
      <mat-hint>თთ/დდ/წწწწ</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="registerForm.get('date_of_birth').invalid && formSubmitted"
      >
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field> -->
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>დაბადების თარიღი</mat-label>
      <input matInput formControlName="date_of_birth" />

      <mat-error
        *ngIf="registerForm.get('date_of_birth').invalid && formSubmitted"
      >
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-field">
      <mat-label>კლუბი</mat-label>
      <input matInput formControlName="club" />
      <mat-error *ngIf="registerForm.get('club').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-field">
      <mat-label>წონა</mat-label>
      <input matInput formControlName="weight" />
      <mat-error *ngIf="registerForm.get('weight').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="small-field">
      <mat-label>სიმაღლე (სმ)</mat-label>
      <input matInput formControlName="height" />
      <mat-error *ngIf="registerForm.get('height').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
  </p>

  <p *ngIf="this.type === 'coach'">
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>კლუბი</mat-label>
      <input matInput formControlName="club" />
      <mat-error *ngIf="registerForm.get('club').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>მეილი</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="registerForm.get('email').invalid && formSubmitted">
        გთხოვთ შეავსოთ სწორი ფორმატით
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>მომხმარებლის სახელი</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="registerForm.get('username').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>ტელეფონის ნომერი</mat-label>
      <input matInput formControlName="tel" />
      <mat-error *ngIf="registerForm.get('tel').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>პაროლი</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="registerForm.get('password').invalid && formSubmitted">
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>გაიმეორეთ პაროლი</mat-label>
      <input matInput formControlName="password_confirmation" />
      <mat-error
        *ngIf="
          registerForm.get('password_confirmation').invalid && formSubmitted
        "
      >
        გთხოვთ შეავსოთ
      </mat-error>
    </mat-form-field>
  </p>
  <!-- <p>
    <mat-form-field appearance="fill" class="small-field">
      <mat-label>ფოტო</mat-label>
      <input
        matInput
        formControlName="profile_picture"
        type="file"
        accept=".jpeg,.png,.jpg"
      />
    </mat-form-field>
  </p> -->
</form>

<button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
  რეგისტრაცია
</button>
