<div class="header">
  <div class="logo" (click)="onLogoClick()">
    <img src="../../../assets/header/logo.jpg" />
    <h1>სამბოს ფედერაცია</h1>
  </div>

  <div class="navigation">
    <button mat-button (click)="onAboutUs()">ჩვენს შესახებ</button>
    <button mat-button (click)="onTournaments()">შეჯიბრებები</button>
    <button mat-button (click)="onAthletes()">სპორტსმენები</button>
    <button mat-button *ngIf="!getUser(); else userLogo" (click)="onAuth()">
      ავტორიზაცია
    </button>
  </div>
</div>
<ng-template #userLogo>
  <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
    <mat-icon>face</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onProfile()">პროფილი</button>
    <button mat-menu-item (click)="onLogOut()">გამოსვლა</button>
  </mat-menu>
</ng-template>
